sudo: required

language: node_js
node_js:
  - "7"

services:
  - docker

cache:
  directories:
    - "chrome-headless-screenshots"
    - "node_modules"
  yarn: true

before_install:
- docker pull yukinying/chrome-headless-browser
- docker run -d --name chrome --shm-size=1024m -p=127.0.0.1:9222:9222 --cap-add=SYS_ADMIN yukinying/chrome-headless-browser
- git clone https://github.com/schnerd/chrome-headless-screenshots.git && cd chrome-headless-screenshots && npm install && cd ../

script:
- ./a.sh
